<!DOCTYPE html>
<HTML xmlns:th="http://thymeleaf.org">
        <head>
            <h1>Kommentare</h1>
        </head>
        <body>
            <div>
                <h2 th:text="${foto.getDateiname()}"></h2>
                <h3 th:text="${foto.getZeitstempel()}"></h3>
                <img th:src="@{/foto/{id}(id = ${foto.getId()})}" width="100%">
                <br>
                <a target="_blank" th:href="|https://www.openstreetmap.org/#map=17/${foto.geobreite}/${foto.geolaenge}|" th:text="${foto.getOrt()}">Schlumpfhausen</a>
                <br>
                <a th:text="#{foto.del}" th:href="@{/foto/{id}/del(id = ${foto.getId()})}"></a>
            </div>
        
            <div>
                <h2 th:text="#{foto.comment.list.title}"></h2>
                <div th:each="kommentar: ${kommentare}" class="lightbox">
                    <div>
                        <h2 th:text="${kommentar.getAutor()}"></h2>
                        <h5 th:text="${kommentar.getZeitpunkt()}" class="datum"></h5>
                    </div>
                    <h4 th:text="${kommentar.getText()}"></h4>
                </div>
            </div>
        
            <div th:if="${loggedinusername}">
                <h1 th:text="#{foto.comment.form.title}"></h1>
                <form class="form" th:action="@{/foto/{id}/kommentar(id = ${foto.getId()})}" th:method="POST">
                    <div class="inputdiv">
                        <label th:text="#{foto.comment.form.text}"></label>
                        <input class="input" type="text" name="kommentar" placeholder=""/>
                    </div>
                    <div>
                        <input class="submit" th:value="#{form.send}" type="submit">
                    </div>
                </form>
            </div>
        
        </body>
</HTML>
