<!DOCTYPE html>
<HTML xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
        <head>
            <title >Sichtungen</title>
        </head>
        <body>
            <h1 >17 Sichtungen</h1>
            <table>
                <thead>
                    <th>Datum</th>
                    <th>Name</th>
                    <th>Ort</th>
                    <th>Beschreibung</th>
                    <th>Löschen</th>
                    <th>Bearbeiten</th>
                </thead>
                <tbody>
                    <tr th:each="meinesichtungen:${meinesichtungen}">
                        <td th:text = "${meinesichtungen.datum}"></td>
                        <td th:text = "${meinesichtungen.name}"></td>
                        <td th:text = "${meinesichtungen.ort}"></td>
                        <td th:text = "${meinesichtungen.beschreibung}"></td>
                        <td><a th:href="@{/sichtung/meine/{number}/del(number = ${number.index})}">[del]</a></td>
                        <td><a th:href="@{/sichtung/meine/{number}(number = ${number.index})}">[edit]</a></td>
                    </tr>
                </tbody>
            </table>
            <a th:href ="@{/sichtung/meine/neu}"><Button>Füg hinzu Bruder</Button></a>
        </body>
</HTML>

<style>
</style>